.customer__status--inActive, .customer__status--active {
  text-align: center;
  padding: 4px 18px;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  color: #000;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 420px) {
  .container {
    max-width: 420px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  font-size: 26px;
  font-weight: 600;
  color: inherit;
}
.logo .logo__icon {
  margin-right: 8px;
}
.logo span {
  margin-left: 5px;
  font-size: 10px;
  font-weight: 500;
  color: #838383;
}

.dashboard-wrap {
  display: flex;
  align-items: stretch;
}

.dashboard-header {
  max-width: 306px;
  padding: 36px 28px 76px 28px;
}

.content-wrap {
  padding: 41px 95px 258px 71px;
  background-color: #fafbff;
  flex: 1;
}

.sidebar-nav {
  margin-bottom: 598px;
}

.sidebar-nav__item {
  margin-bottom: 40px;
}

.sidebar-nav__item:last-child {
  margin-bottom: 0px;
}

.sidebar-nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 8px;
  color: #9197b3;
}
.sidebar-nav__link div {
  display: flex;
  align-items: center;
}

.sidebar-nav__icon {
  margin-right: 16px;
}

.sidebar-nav__link--current {
  background-color: #5932ea;
  color: #fff;
  border-radius: 8px;
}

.user {
  display: flex;
  align-items: center;
}

.user__avatar {
  margin-right: 12px;
}

.user__job {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
}

.customers {
  padding: 30px 44px 40px 38px;
  background-color: #fff;
  border-radius: 20px;
}

.customers__table {
  border-collapse: collapse;
  margin-bottom: 30px;
}
.customers__table th {
  text-align: left;
  padding: 14px 20px 14px 0;
  border-bottom: 1px solid #eeeeee;
}
.customers__table td {
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid #eeeeee;
}
.customers__table thead > tr > th:nth-child(1) {
  padding-right: 57px;
}
.customers__table thead > tr > th:nth-child(2) {
  padding-right: 61px;
}
.customers__table thead > tr > th:nth-child(3) {
  padding-right: 52px;
}
.customers__table thead > tr > th:nth-child(4) {
  padding-right: 168px;
}
.customers__table thead > tr > th:nth-child(5) {
  padding-right: 96px;
}

.customer__status--active {
  color: #008767;
  background-color: rgba(22, 192, 152, 0.3803921569);
  border: 2px solid #008767;
}

.customer__status--inActive {
  color: #df0404;
  background-color: #ffc5c5;
  border: 2px solid #df0404;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__list {
  display: flex;
  gap: 12px;
}/*# sourceMappingURL=main.css.map */