%button {
  text-align: center;
  padding: 4px 18px;
  border: 1px solid $primaryBlackColor;
  border-radius: $borderRadiusBtn;
  outline: none;
  background-color: $primaryBgColor;
  color: $primaryBlackColor;
}
