// Background-colors
$primaryBgColor: #fff;
$secondaryBgColor: #fafbff;
$activeBtnBgColor: #16c098;
$inActiveBtnBgColor: #ffc5c5;
$activeNavLinkBgColor: #5932ea;

// Colors
$primaryBlackColor: #000;
$secondaryBlackColor: #292d32;
$primaryGreyColor: #b5b7c0;
$secondaryGreyColor: #9197b3;
$activeBtnColor: #008767;
$inActiveBtnColor: #df0404;

// Border
$borderBtn: 2px solid $activeBtnColor;

// Border-radius

$borderRadiusBtn: 4px;
$borderRadiusActiveLink: 8px;
