.logo {
  display: flex;
  align-items: center;

  margin-bottom: 64px;

  font-size: 26px;
  font-weight: 600;
  color: inherit;

  .logo__icon {
    margin-right: 8px;
  }

  span {
    margin-left: 5px;

    font-size: 10px;
    font-weight: 500;
    color: $logoGreyColor;
  }
}
