.sidebar-nav {
  margin-bottom: 598px;

  @media screen and (max-width: 1170px) {
    margin-bottom: 400px;
  }

  @media screen and (max-width: 1021px) {
    margin-bottom: 50px;
  }
}

.sidebar-nav__item {
  margin-bottom: 20px;

  @media screen and (max-width: 1290px) {
    font-size: 12px;
  }

  @media screen and (max-width: 1170px) {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 1021px) {
    margin-bottom: 12px;
  }
}

.sidebar-nav__item:last-child {
  margin-bottom: 0px;
}

.sidebar-nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px 8px;

  color: $secondaryGreyColor;

  div {
    display: flex;
    align-items: center;
  }
}

.sidebar-nav__icon {
  margin-right: 16px;

  @media screen and (max-width: 1170px) {
    margin-right: 10px;
  }
}

.sidebar-nav__link--current {
  background-color: $activeNavLinkBgColor;
  color: $primaryBgColor;
  border-radius: $borderRadiusActiveLink;
}
