.dashboard-wrap {
  display: flex;
  position: relative;
}

.dashboard-header {
  max-width: 306px;
  padding: 36px 28px 76px 28px;

  @media screen and (max-width: 1020px) {
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    transform: translateX(-100%);

    background-color: $primaryBgColor;
    border-right: 2px solid $primaryBlackColor;

    overflow-y: auto;

    transition: transform 250ms ease-in-out;
  }

  @media screen and (max-width: 1170px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.dashboard-header.is-open {
  height: 100%;
  opacity: 1;
  transform: translateX(0);
}

.sidebar-nav {
  margin-bottom: 598px;

  @media screen and (max-width: 1170px) {
    margin-bottom: 400px;
  }

  @media screen and (max-width: 1021px) {
    margin-bottom: 50px;
  }
}

.sidebar-nav__item {
  margin-bottom: 20px;

  @media screen and (max-width: 1290px) {
    font-size: 12px;
  }

  @media screen and (max-width: 1170px) {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 1021px) {
    margin-bottom: 12px;
  }
}

.sidebar-nav__item:last-child {
  margin-bottom: 0px;
}

.sidebar-nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px 8px;

  color: $secondaryGreyColor;

  div {
    display: flex;
    align-items: center;
  }
}

.sidebar-nav__icon {
  margin-right: 16px;

  @media screen and (max-width: 1170px) {
    margin-right: 10px;
  }
}

.sidebar-nav__link--current {
  background-color: $activeNavLinkBgColor;
  color: $primaryBgColor;
  border-radius: $borderRadiusActiveLink;
}

.user {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1170px) {
    display: block;
  }
}

.user__avatar {
  margin-right: 12px;

  @media screen and (max-width: 1170px) {
    margin-right: 8px;
  }
}

.user__job {
  font-size: 12px;
  font-weight: 400;
  color: $userGreyColor;
}

// Content

.content-wrap {
  position: relative;
  padding: 41px 95px 41px 71px;
  background-color: $secondaryBgColor;
  flex: 1;

  @media screen and (max-width: 1290px) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media screen and (max-width: 1170px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 885px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.customers {
  padding: 30px 44px 40px 38px;

  background-color: $primaryBgColor;
  border-radius: 20px;

  @media screen and (max-width: 885px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-label {
  margin-bottom: 51px;
  font-size: 24px;

  @media screen and (max-width: 1290px) {
    font-size: 22px;
  }

  @media screen and (max-width: 725px) {
    font-size: 18px;
  }
}

.customers__inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.customers__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 7px;

  @media screen and (max-width: 1290px) {
    font-size: 20px;
  }

  @media screen and (max-width: 725px) {
    font-size: 16px;
  }
}

.customers__description {
  color: $primaryTextGreenColor;

  @media screen and (max-width: 1290px) {
    font-size: 12px;
  }

  @media screen and (max-width: 725px) {
    font-size: 10px;
  }
}

.search-field {
  position: relative;
}

.search-field__input {
  padding: 10px 8px 10px 40px;
  max-width: 216px;

  background-color: $searchInputBgColor;
  border: $borderRadiusSearchInput;

  @media screen and (max-width: 725px) {
    padding: 8px 6px 8px 32px;
    max-width: 190px;
  }
}

.search-field__input::placeholder {
  font-size: 12px;
  color: $primaryGreyColor;
}

.search-field__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;

  @media screen and (max-width: 725px) {
    width: 18px;
    height: 18px;
  }
}

.customers__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  margin-top: 40px;

  @media screen and (max-width: 1290px) {
    font-size: 12px;
  }

  @media screen and (max-width: 725px) {
    font-size: 10px;
    margin-top: 20px;
  }

  th {
    text-align: left;
    padding: 14px 0;
    border-bottom: 1px solid $tableBorderColor;
    color: $primaryGreyColor;

    @media screen and (max-width: 725px) {
      padding: 10px 5px;
    }
  }

  td {
    padding: 20px 0;
    border-bottom: 1px solid $tableBorderColor;

    @media screen and (max-width: 725px) {
      padding: 10px 5px;
    }
  }

  thead > tr > th:nth-child(1) {
    width: 172px;
  }

  thead > tr > th:nth-child(2) {
    width: 131px;
  }

  thead > tr > th:nth-child(3) {
    width: 156px;
  }

  thead > tr > th:nth-child(4) {
    width: 207px;

    @media screen and (max-width: 1290px) {
      width: 160px;
    }
  }

  thead > tr > th:nth-child(5) {
    width: 140px;
  }
}

.customer__status--active {
  @extend %button;
  color: $activeBtnColor;
  background-color: $activeBtnBgColor;
  border: $borderActiveBtn;
}

.customer__status--inActive {
  @extend %button;
  padding: 4px 12px;
  color: $inActiveBtnColor;
  background-color: $inActiveBtnBgColor;
  border: $borderInActiveBtn;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__data {
  color: $primaryGreyColor;

  @media screen and (max-width: 725px) {
    font-size: 12px;
  }
}

.pagination__list {
  display: flex;
  gap: 12px;
}

.pagination__button {
  @extend %paginationBtn;
}

.pagination__button--current {
  background-color: $activeNavLinkBgColor;
  color: $primaryBgColor;
}

.pagination__button--no-background {
  background-color: transparent;
  border: none;
}
