.dashboard-wrap {
  display: flex;
  align-items: stretch;
}

.dashboard-header {
  max-width: 306px;
  padding: 36px 28px 76px 28px;
}

.content-wrap {
  padding: 41px 95px 258px 71px;
  background-color: $secondaryBgColor;
  flex: 1;
}

.sidebar-nav {
  margin-bottom: 598px;
}

.sidebar-nav__item {
  margin-bottom: 40px;
}

.sidebar-nav__item:last-child {
  margin-bottom: 0px;
}

.sidebar-nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px 8px;

  color: $secondaryGreyColor;

  div {
    display: flex;
    align-items: center;
  }
}

.sidebar-nav__icon {
  margin-right: 16px;
}

.sidebar-nav__link--current {
  background-color: $activeNavLinkBgColor;
  color: $primaryBgColor;
  border-radius: $borderRadiusActiveLink;
}

.user {
  display: flex;
  align-items: center;
}

.user__avatar {
  margin-right: 12px;
}

.user__job {
  font-size: 12px;
  font-weight: 400;
  color: $userGreyColor;
}

.customers {
  padding: 30px 44px 40px 38px;

  background-color: $primaryBgColor;
  border-radius: 20px;
}

.customers__table {
  border-collapse: collapse;
  margin-bottom: 30px;

  th {
    text-align: left;
    padding: 14px 20px 14px 0;
    border-bottom: 1px solid $tableBorderColor;
  }

  td {
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid $tableBorderColor;
  }

  thead > tr > th:nth-child(1) {
    padding-right: 57px;
  }

  thead > tr > th:nth-child(2) {
    padding-right: 61px;
  }

  thead > tr > th:nth-child(3) {
    padding-right: 52px;
  }

  thead > tr > th:nth-child(4) {
    padding-right: 168px;
  }

  thead > tr > th:nth-child(5) {
    padding-right: 96px;
  }
}

.customer__status--active {
  @extend %button;
  color: $activeBtnColor;
  background-color: $activeBtnBgColor;
  border: $borderActiveBtn;
}

.customer__status--inActive {
  @extend %button;
  color: $inActiveBtnColor;
  background-color: $inActiveBtnBgColor;
  border: $borderInActiveBtn;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__list {
  display: flex;
  gap: 12px;
}
